﻿<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

     <title>Andrea Arguello CV</title>

     <style type="text/css">
       
        * { margin: 0; padding: 0; }
        body { 
            font-family: 'Lato', 'sans-serif'; 
            margin:1em auto; 
            line-height: 75%; 
            background:rgb(192, 207, 195); 
            }
        .clear { 
            clear: both; 
            }
        #page-wrap { 
            width: 800px; 
            margin: 40px auto 60px; 
            }
        
        h1 { 
            margin: 0 0 16px 0; 
            padding: 0 0 16px 0; 
            font-size: 250%; 
            font-weight: bold; 
            letter-spacing: -2px; 
            border-bottom: 1px solid #999; 
            text-shadow: 2px 2px 5px #999;}
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        p { margin: 0 0 16px 0; }
        a { color: rgb(138, 138, 138); text-decoration: none; border-bottom: 1px dotted rgb(141, 141, 141); }
        a:hover { border-bottom-style: solid; color: rgb(118, 151, 124); }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: 'Lato', 'sans-serif'; font-style: italic; color: #666; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 30px; }
        
        
 
     </style>
</head>
<body>
    <div>
    <div id="page-wrap">
        
       
        <div id="contact-info" class="vcard">
        
        
            <h1 class="fn">Andrea Carolina Arguello Barillas</h1>
            <H2>(Future) Computer Engineer</H2>
        
            <p>
                <a class="index" href="/home/index">Index</a>
                <span><a class="contact" href="/home/contact">Contact</a></span> 
            </p>
        </div>
        @RenderBody()
        <hr />
        
    </div>

    

    @RenderSection("Scripts", required: false)
</body>
</html>
