﻿@{
    ViewData["Title"] = "Contacto";
}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #9BA79D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(139, 150, 141);
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
    height: 100%;
}
</style>
</head>
<body>

<address>
    <article id="post-3" class="post-3 page type-page status-publish hentry">
	
	<header class="entry-header">
		<h2 class="entry-title">Contacto</h2>	</header><!-- .entry-header -->

	<div class="container">
  <form action="/action_page.php" target="_self">
    <label for="fname">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Name" required aria-required="true"></p>

    <label for="lname">E-mail</label>
    <input type="email" id="lname" name="lastname" placeholder="user@mail.com" required aria-required="true"></p>

<p>
    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Write your message here..." style="height:200px, width:100%" required aria-required="true"></textarea></p>

    <input type="submit" value="Enviar >>">
  </form>
</div>
			</div>
	</article>
</address></body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

</script>