﻿@{
    ViewData["Title"] = "Home Page";
}
<style>
    #pic { 
            float: right; 
            margin: -100px 0 0 0; 
            }
    img.effects {
            width:20%;
            height: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        padding: 1%;
        }
</style>
<head>
    <img class="effects" src="/images/mifoto.png" alt="Photo of Andrea" id="pic" style= "margin-top: -20"  />
</head>
<div id="objective">
            <p>
                20 year old student searching for opportunities to grow in my field. 
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <h2>Universidad del Valle de Guatemala</h2>
                <p><strong>Minor:</strong> Computer and IT Engineering<br />
            </dd>
            
            <dd class="clear" id="skillS"></dd>
            
            <dt>Skills</dt>
            <dd>
                <h2>Language skills</h2>
                <p>English, Spanish</p>
                
                <h2>Computer skills</h2>
                <p>Microsoft productivity software (Word, Excel, etc), Adobe Photoshop, Java, Python</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                <h2> Dental Clinic <span> Secretary/Assistant - Guatemala City - 2015-2016</span></h2>
                <ul>
                    <li>Provided secretarial support at a Dental Clinic for three months.</li>
                    
                </ul>
                
                <h2>International Experience <span>2013/2015</span></h2>
                <ul>
                    <li>By studying abroad for two months, I reinforced abilities such as adaptability and language and communication skills. </li>
                    <li>Participant in HACIA Democracy, a simulation of the Summit of the Americas. Abilities like teamwork, problem solving, communication skills, and master of the English language were key.</li>
                    
                
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Hobbies</dt>
            <dd>Poetry and short story writing, photography, piano and guitar playing.</dd>
            
            <dd class="clear"></dd>
            
            <dt>Ambitions</dt>
            <dd>Be able to make Guatemala a better place to live for those in need.</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>